<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the com.cerotid.qa.test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="66a57e">  <td>20/02/10 12:16:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SimpleTestNgClassDemo.performActions1()[pri:0, instance:TestNg.SimpleTestNgClassDemo@71bbf57e]">performActions1</td> 
  <td>TestNG-com.cerotid.qa.test=Test-1@2101468713</td>   <td></td> </tr>
<tr bgcolor="a9a285">  <td>20/02/10 12:16:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SimpleTestNgClassDemoWithTestNGFile.performActions2()[pri:0, instance:TestNg.SimpleTestNgClassDemoWithTestNGFile@7f13d6e]">performActions2</td> 
  <td>TestNG-com.cerotid.qa.test=Test-2@497548196</td>   <td></td> </tr>
<tr bgcolor="66a57e">  <td>20/02/10 12:16:06</td>   <td>-6314</td> <td>&nbsp;</td><td title="&gt;&gt;SimpleTestNgClassDemo.setUpTest()[pri:0, instance:TestNg.SimpleTestNgClassDemo@71bbf57e]">&gt;&gt;setUpTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2116908859</td>   <td></td> </tr>
<tr bgcolor="a9a285">  <td>20/02/10 12:16:10</td>   <td>-2486</td> <td>&nbsp;</td><td title="&gt;&gt;SimpleTestNgClassDemoWithTestNGFile.setUpTest()[pri:0, instance:TestNg.SimpleTestNgClassDemoWithTestNGFile@7f13d6e]">&gt;&gt;setUpTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2116908859</td>   <td></td> </tr>
<tr bgcolor="66a57e">  <td>20/02/10 12:16:21</td>   <td>7930</td> <td>&nbsp;</td><td title="&lt;&lt;SimpleTestNgClassDemo.terminateTest()[pri:0, instance:TestNg.SimpleTestNgClassDemo@71bbf57e]">&lt;&lt;terminateTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2116908859</td>   <td></td> </tr>
<tr bgcolor="a9a285">  <td>20/02/10 12:16:23</td>   <td>10712</td> <td>&nbsp;</td><td title="&lt;&lt;SimpleTestNgClassDemoWithTestNGFile.terminateTest()[pri:0, instance:TestNg.SimpleTestNgClassDemoWithTestNGFile@7f13d6e]">&lt;&lt;terminateTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2116908859</td>   <td></td> </tr>
</table>
