<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="66a57e">  <td>20/02/24 23:26:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PropertiesConfigurationWithTestNG.CerotidHomePageTest1()[pri:0, instance:config.PropertiesConfigurationWithTestNG@711f39f9]">CerotidHomePageTest1</td> 
  <td>main@1182461167</td>   <td></td> </tr>
<tr bgcolor="66a57e">  <td>20/02/24 23:26:52</td>   <td>4383</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PropertiesConfigurationWithTestNG.CerotidHomePageTest2()[pri:1, instance:config.PropertiesConfigurationWithTestNG@711f39f9]">CerotidHomePageTest2</td> 
  <td>main@1182461167</td>   <td></td> </tr>
<tr bgcolor="66a57e">  <td>20/02/24 23:26:42</td>   <td>-5836</td> <td>&nbsp;</td><td title="&gt;&gt;PropertiesConfigurationWithTestNG.setUpTest()[pri:0, instance:config.PropertiesConfigurationWithTestNG@711f39f9]">&gt;&gt;setUpTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1182461167</td>   <td></td> </tr>
<tr bgcolor="66a57e">  <td>20/02/24 23:26:53</td>   <td>5565</td> <td>&nbsp;</td><td title="&lt;&lt;PropertiesConfigurationWithTestNG.tearDownTestCloseBrowser()[pri:0, instance:config.PropertiesConfigurationWithTestNG@711f39f9]">&lt;&lt;tearDownTestCloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1182461167</td>   <td></td> </tr>
</table>
