<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1</em><p/><small><i>(Hover the method name to see the com.cerotid.qa.test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="66a57e">  <td>20/02/10 11:49:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SimpleTestNgClassDemoWithTestNGFile.performActions()[pri:0, instance:TestNg.SimpleTestNgClassDemoWithTestNGFile@71bbf57e]">performActions</td> 
  <td>TestNG-com.cerotid.qa.test=Test1-1@243453343</td>   <td></td> </tr>
<tr bgcolor="a9a285">  <td>20/02/10 11:49:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SimpleTestNgClassDemo.performActions()[pri:0, instance:TestNg.SimpleTestNgClassDemo@7f13d6e]">performActions</td> 
  <td>TestNG-com.cerotid.qa.test=Test1-2@597471081</td>   <td></td> </tr>
<tr bgcolor="a9a285">  <td>20/02/10 11:48:54</td>   <td>-5712</td> <td>&nbsp;</td><td title="&gt;&gt;SimpleTestNgClassDemo.setUpTest()[pri:0, instance:TestNg.SimpleTestNgClassDemo@7f13d6e]">&gt;&gt;setUpTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2116908859</td>   <td></td> </tr>
<tr bgcolor="66a57e">  <td>20/02/10 11:48:58</td>   <td>-2271</td> <td>&nbsp;</td><td title="&gt;&gt;SimpleTestNgClassDemoWithTestNGFile.setUpTest()[pri:0, instance:TestNg.SimpleTestNgClassDemoWithTestNGFile@71bbf57e]">&gt;&gt;setUpTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2116908859</td>   <td></td> </tr>
<tr bgcolor="a9a285">  <td>20/02/10 11:49:06</td>   <td>6067</td> <td>&nbsp;</td><td title="&lt;&lt;SimpleTestNgClassDemo.terminateTest()[pri:0, instance:TestNg.SimpleTestNgClassDemo@7f13d6e]">&lt;&lt;terminateTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2116908859</td>   <td></td> </tr>
<tr bgcolor="66a57e">  <td>20/02/10 11:49:09</td>   <td>8745</td> <td>&nbsp;</td><td title="&lt;&lt;SimpleTestNgClassDemoWithTestNGFile.terminateTest()[pri:0, instance:TestNg.SimpleTestNgClassDemoWithTestNGFile@71bbf57e]">&lt;&lt;terminateTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2116908859</td>   <td></td> </tr>
</table>
